.App {
  background-color: #cd0000;
  color: whitesmoke;
  text-align: center;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}

.link {
  text-emphasis: underline;
}

.footer {
  text-emphasis: italic;
}
