.App {
  background-color: #cd0000;
  color: whitesmoke;
  text-align: center;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}
.App-padding {
  height: 100%;
  padding: 0.8em;
}

.App-title {
  margin: 0;
}

.link {
  font-size: 1.3em;
  text-decoration: underline;
}

li:hover {
  cursor: pointer;
}

.footer {
  text-emphasis: italic;
}
